
  <div style="background-color: #fff">
   
   
     <header id="header">
        <div class="container navbar-static-top">
        
          <div id="logo" class="pull-left">
            <a href="index.html"><img src="img/logo-nav.png" alt="" title="" /></img></a>
            <!-- Uncomment below if you prefer to use a text image -->
            <!--<h1><a href="#hero">Bell</a></h1>-->
          </div>
            
          <nav id="nav-menu-container ">
            <ul class="nav-menu">
              <li><a href="#/landing/#about">About</a></li>
              <li><a href="#/landing/#features">Features</a></li>
              <li><a href="#/landing/#team">Customers</a></li>
              <li><a href="#/landing/#contact">Contact Us</a></li>
              <li><a href="#contact">Pricing</a></li>
              <li><a href="#/support">Support</a></li>
              <li><a href="#/login">Sign In</a></li>
            </ul>
          </nav><!-- #nav-menu-container -->
          
          <nav class="nav social-nav pull-right hidden-sm-down">
            <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
          </nav>
        </div>
      </header><!-- #header -->

   <div class="container content">
  <div class="row">
    <!-- Pricing -->
    <div class=" col-lg-4 col-md-6 col-sm-12">
      <div class="pricing hover-effect">
        <div class="pricing-head">
          <h3>Essential<span>
           </span>
          </h3>
          <h4><i>$</i>14<i>.99</i>
          <span>
          Per Month </span>
          </h4>
        </div>
        <ul class="pricing-content list-unstyled">
          <li>
            File Plan Development & Maintenance
          </li>
          <li>
            File Plan Implementation & Maintenance
          </li>
          <li title="Enterprise Content Management Application">
            Captive ECM
          </li>
          <li>
            Support for 6 months
          </li>
        </ul>
        <div class="pricing-footer">
          
          <a href="javascript:;" class="btn yellow-crusta">
          Sign Up
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="pricing hover-effect">
        <div class="pricing-head">
          <h3>Proffesional <span>
           </span>
          </h3>
          <h4><i>$</i>19<i>.99</i>
          <span>
          Per Month </span>
          </h4>
        </div>
        <ul class="pricing-content list-unstyled">
          <li>
            Essential Plus...
          </li>
          <li>
            RM Audit
          </li>
          <li>
            RM Room Designer
          </li>
          <li>
            RM Policy & Procedure Development + Maintenance
          </li>
        </ul>
        <div class="pricing-footer">
          
          <a href="javascript:;" class="btn yellow-crusta">
          Sign Up
          </a>
        </div>
      </div>
    </div>
  
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="pricing hover-effect">
        <div class="pricing-head">
          <h3>Enterprise <span> </span>
          </h3>
          <h4><i>$</i>99<i>.99</i>
          <span>
          Per Month </span>
          </h4>
        </div>
        <ul class="pricing-content list-unstyled">
          <li>
            Proffesional Plus...
          </li>
          <li>
            MS Share point Intergration & Other ECM Apps
          </li>
          <li>
            Support Forever
          </li>
          <li>
            Centralised Dashboard
          </li>
        </ul>
        <div class="pricing-footer">
          <a href="javascript:;" class="btn yellow-crusta">
          Sign Up
          </a>
        </div>
      </div>
    </div>
    <!--//End Pricing -->
  </div>
  <hr>
  <div>
    <p align="center">
      <h2><strong>Frequently asked questions, answered.</strong></h2>
    </p>
    <hr>
    <div  ng-init="isQ1=false">
     <p align="center">
        <a href="javascript:;"><h2 ng-click="isQ1=!isQ1"><span><img src="img/faq-plus.png" ng-show="!isQ1"><img src="img/faq-minus.png" ng-show="isQ1"></span> How can I buy your software?</h2></a>
      <h5 ng-show="isQ1">Click <a href="#/signup">here</a> to create an account and select a payment plan after you made a Record Mangement Gap Analysis. You can pay by credit card online, or our top level plans include an invoicing option.</h5>
     </p>
      
    </div>
    <hr>
    <div  ng-init="isQ2=false">
      <a href="javascript:;"><h2 ng-click="isQ2=!isQ2"><span><img src="img/faq-plus.png" ng-show="!isQ2"><img src="img/faq-minus.png" ng-show="isQ2"></span> How long are your contracts? Can I change plans?</h2></a>
      <h5 ng-show="isQ2">Plans are month-to-month. You can start/stop or make changes to your plan at any time (but note that refunds are not given for cancellation or downgrades). Contact us for details.</h5>
    </div>
    <hr>
    <div  ng-init="isQ3=false">
      <a href="javascript:;"><h2 ng-click="isQ3=!isQ3"><span><img src="img/faq-plus.png" ng-show="!isQ3"><img src="img/faq-minus.png" ng-show="isQ3"></span> Will my data be private and safe?</h2></a>
      <h5 ng-show="isQ3">Yes, we combine enterprise-class security features with comprehensive audits of our applications, systems, and networks to ensure customer and business data is always protected. Take a look at the security measures we take to protect your business and your customers.</h5>
    </div>
    <hr>
  </div>
  
</div>
      
    <footer class="site-footer">
      <div class="bottom">`
        <div class="container">
          <div class="row">

            
            <div class="col-lg-6 col-xs-12 text-lg-right text-center">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="index.html">Home</a>
                </li>

                <li class="list-inline-item">
                  <a href="#about">About Us</a>
                </li>

                <li class="list-inline-item">
                  <a href="#features">Features</a>
                </li>

                <li class="list-inline-item">
                  <a href="#portfolio">Portfolio</a>
                </li>

                <li class="list-inline-item">
                  <a href="#team">Team</a>
                </li>

                <li class="list-inline-item">
                  <a href="#contact">Contact</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </footer>
    <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a> 


    
    
  </div>
